body{
  background-color: #d8ebf6
}

.img-wrapper{
	display: inline-block;
	width: 50%;
	padding-top: 30px;
}

.img-wrapper img {
	padding:30px
}

h1{
	font-family: arial;
	color: #435274;

}

.key1{
	width:125px;
	background-color:#435274
}

.key2{
	width:100px;
	background-color:#435274
}

.key3{
	width:90px;
	background-color:#435274
}

.key4{
	width:95px;
	background-color:#435274
}

.key5{
	width:120px;
	background-color:#435274
}

.key6{
	width:100px;
	background-color:#435274
}

.key7{
	width:100px;
	background-color:#435274
}

.badge1{
	width:150px;
	background-color:#435274
}

.badge2{
	width:150px;
	background-color:#435274
}

.badge3{
	height:150px;
	background-color:#435274
}

.key1:hover{
	box-shadow: 0px 0px 10px 6px;
}

.key2:hover{
	box-shadow: 0px 0px 10px 6px;
}

.key3:hover{
	box-shadow: 0px 0px 10px 6px;
}

.key4:hover{
	box-shadow: 0px 0px 10px 6px;
}

.key5:hover{
	box-shadow: 0px 0px 10px 6px;
}

.key6:hover{
	box-shadow: 0px 0px 10px 6px;
}

.key7:hover{
	box-shadow: 0px 0px 10px 6px;
}

.badge1:hover{
	box-shadow: 0px 0px 10px 6px;
}

.badge2:hover{
	box-shadow: 0px 0px 10px 6px;
}

.badge3:hover{
	box-shadow: 0px 0px 10px 6px;
}

